

.gen {
    width: 100%;
    overflow-y: scroll;
}

.header {
    background-image: linear-gradient(45deg,#31506b 1%,#82a7c7 40%, rgb(221, 221, 228));
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0;
    
    
}

.header h3 {
    color: white;
    font-size: 25px;
}
.header h3, .header p {
    padding-left: 10px;
}
.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
    
    
}
    
.card {
    /* flex: 1 1 250px; */
    flex-shrink: 1;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* min-width: 250px; */
    border: 1px solid #e9ecef;
    background-image: linear-gradient(40deg,black 60%, rgb(112, 87, 87) 3%);
    color: white;
}
    
.card-main {
    flex: 250px;
    flex-grow: 2;
    background-color: rgb(63, 51, 51);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-width: 250px;
    border: 1px solid #e9ecef;
    color: white;
    width: 60%;
    height: 80%;
}

.card h4 {
    color: #2c3e50;
    margin-top: 0;
    margin-bottom: 10px;
    
}
    
.card p {
    color: #48657e;
    line-height: 1.5;
    margin-bottom: 15px;
}

.card h4, .card p {
    color: white;
}
footer {
    /* width: 100%; */
    display: sticky;
    bottom: 0;
    padding: 3px;
    padding-left: 10px;
    background-image: linear-gradient(45deg,#31506b 1%,#82a7c7 40%, rgb(221, 221, 228));
    height: 50%;
    
}

footer p {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    background-image: linear-gradient(45deg,#31506b 1%,#82a7c7 40%, rgb(221, 221, 228));
    background-clip: text; 
}
